<div class="container mt-5 formulario">
  <h2 class="text-center mb-4">Agregar Usuario</h2>
  <form [formGroup]="usuarioForm" class="mt-3" (ngSubmit)="agregarUsuario()">
    <mat-grid-list cols="2" rowHeight="5:1" gutterSize="10px">
      
      <mat-grid-tile>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Nombre:</mat-label>
            <input matInput type="text" id="nombre" placeholder="Nombre del Usuario" formControlName="nombre" required>
            <mat-error *ngIf="usuarioForm.get('nombre')?.invalid && usuarioForm.get('nombre')?.touched">
              El nombre es requerido.
            </mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Correo electrónico:</mat-label>
            <input matInput type="email" id="email" placeholder="Correo electrónico del Usuario" formControlName="email" required>
            <mat-error *ngIf="usuarioForm.get('email')?.invalid && usuarioForm.get('email')?.touched">
              El correo electrónico es requerido.
            </mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <div class="form-group">
          <label>Rol:</label>
          <mat-radio-group formControlName="idRol">
            <mat-radio-button *ngFor="let rol of roles" [value]="rol.id">{{ rol.descripcion }}</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Contraseña:</mat-label>
            <input matInput type="password" id="password" placeholder="Contraseña" formControlName="password" required>
            <mat-error *ngIf="usuarioForm.get('password')?.invalid && usuarioForm.get('password')?.touched">
              La contraseña es requerida.
            </mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="text-center mt-4">
      <button mat-raised-button color="primary" type="submit" [disabled]="!usuarioForm.valid">Crear Usuario</button>
    </div>
  </form>
</div>
